{% extends 'almacen/base.html' %}
{% load tz %}

{% block content %}
  {% if movimientos %}
  <h3>Número de Movimientos: {{movimientos.count}}</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Picking</th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tractor ó Compañía</th>
        <th scope="col">Propietario</th>

        <th scope="col">Fecha Creacion</th>
        <th scope="col">Ultima actualización</th>        
        <th scope="col">Fecha Programada</th>

        <th scope="col">DE</th>
        <th scope="col">PARA</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
        {% for movimiento in movimientos %}
            <tr>
              <td>{{ movimiento.picking }}</td>
              <td>{{ movimiento.producto }}</td>
              <td>{{ movimiento.cantidad }}</td>
              <td>{{ movimiento.compania}}</td>
              <td>
                    <ul class="list-group">
                      <li class="list-group-item">Propietario: {{ movimiento.propietario }} </li>
                      <li class="list-group-item">Detalle: {{movimiento.detalle }}  </li>
                    </ul>
              </td>
              
              <td>{{ movimiento.fecha_creacion }}</td>
              <td>{{ movimiento.ultima_actualizacion }}</td>              
              <td>{{ movimiento.fecha_programada }}</td>

              <td>{{ movimiento.de }} </td>
              <td>{{ movimiento.para }} </td>
              <td>{{ movimiento.estado }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

  {% else %}
      <p>Sin movimientos.</p>
  {% endif %}
{% endblock %}